@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap&subset=latin-ext");

body {
  text-align: center;
  /* overflow: hidden; */
  font-family: Roboto Slab;
}

.app {
  background-image: url(birds.jpg);
  animation: roll 60s alternate infinite linear, appear 4s;
  background-position: 0 0;
  background-size: cover;
  height: 150vh;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.3);
  animation: pulse 10s infinite linear alternate;
  height: 150vh;
}

p {
  margin: 0;
  font-size: 2.5vh;
}

h1 {
  margin: 0;
  padding: 2vh;
  animation: icelandicFlag 6s infinite linear both;
}

h3 {
  margin: 0;
  padding: 2vh;
  font-size: 3.5vh;
}

input {
  height: 5vh;
  width: 70vw;
  border: 0.6vh solid black;
  background-color: transparent;
}

.fieldName {
  font-size: 3vh;
  font-weight: bold;
}

button {
  background-color: transparent;
  padding: 2vh;
}

.submit {
  width: 70vw;
  border: 0.6vh solid black;
  margin: 2vh;
  font-size: 3vh;
  font-weight: bold;
}

.langs button {
  height: 8vh;
  padding: 0;
  overflow: hidden;
  margin: 1vh;
  width: 8vh;
  border-radius: 50%;
  border: 0.4vh solid black;
}

img {
  height: 100%;
  z-index: -1;
}

#sw img {
  transform: translate(-15%, 0);
}
#no img {
  transform: translate(-10%, 0);
}
#en img {
  transform: translate(-25%, 0);
}

.ok {
  animation: appear 5s;
}

@keyframes roll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    background-color: rgba(255, 255, 255, 0.3);
  }
  to {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@keyframes icelandicFlag {
  0% {
    color: white;
  }
  25% {
    color: blue;
  }
  50% {
    color: white;
  }
  75% {
    color: red;
  }
  100% {
    color: white;
  }
}
